<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">



    <security:http auto-config="true" use-expressions="true">
        <security:csrf disabled="true"/>
        <security:intercept-url pattern="/checker/**" access="hasRole('CHECKER')"/>
        <security:intercept-url pattern="/maker/**" access="hasRole('MAKER')"/>
        <security:form-login  />

</security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="kunal" password="{noop}kunal123" authorities="ROLE_CHECKER"/>
                <security:user name="ansh" password="{noop}ansh123" authorities="ROLE_MAKER"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>